/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 60px; /* Added to prevent navbar from overlapping content */
}

body.dark-theme {
    background-color: #333;
    color: #f0f0f0;
}

.container.dark-theme {
    background-color: #444;
}

