body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #333;
}

.container {
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 50px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

body.dark-theme {
	background-color: #333;
	color: #f0f0f0;
}

.container.dark-theme {
	background-color: #444;
}